<div class="tech-btm widget_social">
	<h4>Sosyal Medya Hesaplarımız</h4>
	<ul>

		<li>
			<a class="twitter" href="/About/Index">
				<i class="fab fa-twitter"></i>
				<span class="count">Twitterdan takip etmek için tıkla.</span>
			</a>
		</li>
		<li>
			<a class="facebook" href="/About/Index">
				<i class="fab fa-facebook-f"></i>
				<span class="count">Facebook'tan takip etmek için tıkla</span>
			</a>
		</li>
	</ul>
</div>
