<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h3>Hakkımızda</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ipsam temporibus, natus sed dolore recusandae voluptas! Itaque architecto, sequi facilis ducimus est sit! Aliquam porro doloribus veniam voluptate assumenda ut.</p>
                <div class="read">
                    <a href="/About/Index" class="btn btn-primary read-m">Devamını Oku</a>
                </div>
            </div>
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
            @await Component.InvokeAsync("BlogLast3Post")
            </div>
            <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                <h2>Mail Bültenine Abone Olun!</h2>
                @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")
            </div>
        </div>
        <div class="footer-cpy text-center">
            <div class="footer-social">
                <div class="copyrighttop">
                    <ul>
                        <li class="mx-3">
                            <a class="facebook" href="/Blog/Index">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="/Blog/Index">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="w3layouts-agile-copyrightbottom">
                <p>
                    © @DateTime.Now.Year
                    <a href="/Blog/Index/">Blog Projesi</a>
                </p>

            </div>
        </div>
    </div>
</footer>